@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter-Medium.otf') format('truetype');
    /* Thay đổi FontFileName thành tên file font chữ của bạn */
    font-weight: normal;
    font-style: normal;
  }