@font-face {
  font-family: 'Helvetica-Regular';
  src: url('../fonts/helvetica-neue-medium.ttf') format('truetype');
  /* Thay đổi FontFileName thành tên file font chữ của bạn */
  font-weight: normal;
  font-style: normal;
}